<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sentimentron</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link href="{{ STATIC_URL }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/main.css" rel="stylesheet">
  </head>

  <body>


    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1 class="">Sentimentron</h1>
        </div>
        <p class="lead">Analysis of public tweets</p>
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">
        	<a href="http://www.rackspace.com/">Rackspace</a> 
        	<a class="pull-right" href="/admin/">Admin Login</a>
        </p>
      </div>
    </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

  </body>
</html>